.overlay {
    z-index: 999;
    background-color: #fff;
    box-shadow: 2px 2px #00000033;
    position: fixed;
    float: right;
    right: 5%;
    top: 20%;
    padding: 1px;
}

#overlay-header {
    height: 20px;
    background-color: green;
    box-shadow: 0px 2px #00000033;;
}

.overlay-content {
    padding: 10px;
    text-align: center;
    align-content: center;
}

.overlay-bold {
    font-weight: bold;
}

#stickDiv {
    border: solid black 1px;
    vertical-align: middle;
    padding: 3px;
    width: 80%;
    display: inline-block
}

#payPalImg{
    width: 50%;
    padding-top: 15px;
}

#slider-wrapper {
    width: 80%;
    display: inline-block
}