 body{
     width:600px;
     height:500px;
     max-width:600px;
     max-height:500px;
     min-width:600px;
     min-height:500px;
     margin:0;
 }
 header{
     text-align:center;
     background-color: #333333;
     padding:1em;
     height:8em;
     border-bottom: 8px solid #B5BD00;
 }
 footer{
    background-color: #333333;
    padding:1em;
    height:6em;
    width:100%;
    position:absolute;
    color:#fff;
    bottom:0;
    border-top: 8px solid #B5BD00;
 }
/******/