 body{
     width:600px;
     min-width:600px;
     margin:0;
 }
 header{
     text-align:center;
     background-color: #333333;
     padding:1em;
     height:8em;
     border-bottom: 8px solid #B5BD00;
 }
 header img{
     width:25%;
 }
 footer{
    background-color: #333333;
    padding:1em;
    height:6em;
    width:100%;
    position:absolute;
    color:#fff;
    bottom:0;
    border-top: 8px solid #B5BD00;
 }
.title{
    width:100%;
    text-align: center;
    font-size: 20px;
}
 /****************Bryan**************/
 

 /****************Chris**************/
