<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link href="../Content/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link href="../CSS/popup.css" rel="stylesheet" type="text/css">
</head>

<body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <img src="../Images/gkLogo.png">
    </header>
    <div id="maincontent">
        <section id="donationamt">
            <div class="slidercontrol">
                <div id="stickDiv">
                        <img src="http://icons-for-free.com/free-icons/png/512/570640.png" width="40px" height="40px" />
                        <img src="https://image.flaticon.com/icons/png/512/146/146010.png" width="40px" height="40px" />
                        <img src="http://icons-for-free.com/free-icons/png/512/570640.png" width="40px" height="40px" />                        
                    </div>

                <p id="slider-wrapper" class="range-field">
                    <input type="range" id="donation-slider" value="3" min="1" max="10" />
                </p>
            </div>
            <div class="timeframecontrol">
                    <div class="input-field col s12">
                            <select id="freq">
                              <option value="" disabled selected>How Often?</option>
                              <option value="1">One-Time</option>
                              <option value="2">Weekly</option>
                              <option value="3">Monthly</option>
                            </select>
                          </div>                        
            </div>
            <div style="clear:both;"></div>
            <hr/>
        </section>


        <section id="contactform">
            <p class="title">contact form to put in information</p>
            <div class="row">
                <div class="col s4">
                    <input id="first_name" type="text" class="materialize-textarea">
                    <label for="first_name">First Name</label>
                </div>
                <div class="col s4">
                    <input id="last_name" type="text" class="materialize-textarea">
                    <label for="last_name">Last Name</label>
                </div>

                <div class="col s4">
                    <input id="email" type="text" class="materialize-textarea">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s8">
                    <input id="address" type="text" class="materialize-textarea">
                    <label for="last_name">Address</label>
                </div>
                <div class="col s4">
                    <input id="phone" type="text" class="materialize-textarea">
                    <label for="phone">Phone</label>
                </div>
            </div>
        </section>
    </div>
    <div id="moreinfosection">
        <section>
            <div class="title">Share Donation Extension</div>
            
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgranitekids.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore shareicon fab fa-facebook-square fa-7x"></a>
                <i id="tshare" class="shareicon fab fa-twitter-square fa-7x"></i>
                <i id="eshare" class="shareicon fas fa-envelope-square fa-7x"></i>
            </div>
            <hr />
        </section>
        <section>
            <div class="title">Payment Plans</div>
            <table id="reaccuringdatalayout">
                <tr>
                    <th class="subtitle">Amount</th>
                    <th class="subtitle">Donation Date</th>
                </tr>

            </table>

        </section>
    </div>
    <footer>

        <a id="moreinfo" class="waves-effect waves-light btn"><i class="material-icons left">grain</i>More Info</a>
        <a id="donate" class="waves-effect waves-light btn"><i class="material-icons left">face</i>Donate!</a>
    </footer>
    <script src="../Content/jquery.js"></script>
    <script src="../Content/DBTrans.js"></script>
    <script src="../Content/popup.js"></script>
    <script src="../Content/materialize.min.js"></script>

</body>

</html>