<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link href="../Content/materialize.min.css" rel="stylesheet" type="text/css"> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../CSS/popup.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <img src="../Images/gkLogo.png">    
</header>
<section id="donationamt">
    <p>slider to pick amount and feeding the kids</p>
    
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
</section>
<section id="contactform">
    <p>contact form to put in information</p>
    
    
</section>
<footer>
        <a class="waves-effect waves-light btn"><i class="material-icons left">grain</i>Share</a>
</footer>
<script src="../Content/jquery.js"></script>
<script src="../Content/popup.js"></script>
</body>
</html>